.App{
  text-align: center;
  margin: auto;
  margin-top: 20%;
  align-items: center;
  width: 500px;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding-top: 4em;
  padding-bottom: 4em;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe;
}
body{background-color: black;
  color: white;}
img{
  width: 100px;
  height: 100px;
  border-radius: 15px;
}
a{
  text-decoration: none;
  color: rgb(141, 141, 252);
  padding: 10px;
}
a.active{
  color: red;
}
button{
  background-color: #6047CF;
  color: white;
  width: auto;
  height: 35px;
  border: 1px solid #6047CF;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
}

@keyframes pulsate {
    
  100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #bc13fe,
      0 0 80px #bc13fe,
      0 0 90px #bc13fe,
      0 0 100px #bc13fe,
      0 0 150px #bc13fe;
  
  }
  
  0% {

    text-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px #bc13fe,
    0 0 45px #bc13fe,
    0 0 55px #bc13fe,
    0 0 70px #bc13fe,
    0 0 80px #bc13fe;

}
}